%section#contact.section.contact
  .container
    /
    %header.section-heading
      %h2 Feel free to drop us a line
      %span We are happy to listen
    /
    .section-content
      .row
        .col-md-6.col-sm-5
          %h5 Feel free to drop us a line!
          %form#contactForm.contact-form{:action => "php/contact-form.php", :method => "post", :name => "contactform", :role => "form"}
            .form-group
              %input#name.form-control{:name => "name", :placeholder => "Your Name", :required => "", :type => "text"}/
            .form-group
              %input#email.form-control{:name => "email", :placeholder => "Email Address", :required => "", :type => "email"}/
            .form-group
              %textarea#message.form-control{:name => "massage", :placeholder => "Type your message here", :required => "", :rows => "5"}
            #contactFormResponse
            %button#cfsubmit.btn.btn-dark.btn-block.contact-submit{:type => "submit"} Give us a shout
        .col-md-6.col-sm-7
          %h5 Find us on Google map
          .google-map
            #map
          .row.contact-info-wrap
            .col-sm-6
              %div
                %h5 Office Address
                %address.contact-info
                  %span Sydhavnsgade 7
                  %br/
                  = succeed "," do
                    %span Aarhus C
                  %span Midtjylland
                  \-
                  %span 8000
                  %br/
                  %span Denmark
            .col-sm-6
              %div
                %h5 Contact Information
                .contact-info
                  + 45 52 39 94 22
                  %br/
                  info@carswip.com
                  %br/
                  CVR: 37475890
