%section#expertise.section.dark-bg.expertise.progressbars
  .color-overlay
  .container
    %header.section-heading
      %h2 Our Expertise
      %span A bit of background on our skills and expertise
    .section-content
      .row
        .col-sm-6
          #expertise-tab.expertise-description{:role => "tabpanel"}

            %ul.nav.nav-tabs{:role => "tablist"}
              %li.active{:role => "presentation"}
                %a{"aria-controls" => "html", "data-toggle" => "tab", :href => "#html", :role => "tab"} Photo
              %li{:role => "presentation"}
                %a{"aria-controls" => "android", "data-toggle" => "tab", :href => "#android", :role => "tab"} Video
              %li{:role => "presentation"}
                %a{"aria-controls" => "ios", "data-toggle" => "tab", :href => "#ios", :role => "tab"} Something

            .tab-content
              #html.tab-pane.active{:role => "tabpanel"}
                .tab-left
                  %i.fa.fa-camera.fa-5x
                .tab-right
                  %p
                    Donec ac consectetur neque, vel eleifend nisi. In et nibh at neque
                    convallis tincidunt modales odio vel malesuada interdum donec ac
                    consectetur neque.
              #android.tab-pane{:role => "tabpanel"}
                .tab-left
                  %i.fa.fa-video-camera.fa-5x
                .tab-right
                  %p
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tincidunt modales odio vel malesuada interdum donec ac consectetur
                    neque.
              #ios.tab-pane{:role => "tabpanel"}
                .tab-left
                  %i.fa.fa-coffee.fa-5x
                .tab-right
                  %p
                    neque convallis tincidunt modales odio vel malesuada interdum donec ac
                    consectetur neque, vel eleifend nisi. In et nibh at donec ac consectetur
                    neque.
        .col-sm-6
          .progress-box
            %header.progress-heading
              .row
                .col-xs-6 Photo retouch
                .col-xs-6.text-right 90%
            .progress
              .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "90", :role => "progressbar"}
                %span.sr-only 60% Complete
          .progress-box
            %header.progress-heading
              .row
                .col-xs-6 Video presentations
                .col-xs-6.text-right 70%
            .progress
              .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "70", :role => "progressbar"}
                %span.sr-only 60% Complete
          .progress-box
            %header.progress-heading
              .row
                .col-xs-6 Something
                .col-xs-6.text-right 50%
            .progress
              .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "50", :role => "progressbar"}
                %span.sr-only 60% Complete
