%section#our-process.section.our-process
  .container
    %header.section-heading
      %h2 How It works
      %span In three simple steps
    .section-content
      .process
        / our-process-image
        .our-process-image
          %span.fa.fa-cloud-upload
        .our-process-text
          / our-process-text
          %h4 Step one
          %p You upload your pictures in our dropbox folder.
      / process
      / divider
      .divider.divider-right.hidden-xs
      .process
        / our-process-image
        .our-process-image.left
          %span.fa.fa-wrench
        .our-process-text.right
          / our-process-text
          %h4 Step two
          %p We receive and optimise your pictures.
      / process
      / divider
      .divider.divider-left.hidden-xs
      .process
        / our-process-image
        .our-process-image
          %span.fa.fa-envelope
        .our-process-text
          / our-process-text
          %h4 Step three
          %p You receive the pictures in dropbox maximum 12 hours later.
