%header#header.header-wrapper.home-parallax.home-fade.dark-bg.bg-10{style: 'background-image: url(https://www.lamborghini.com/en-en/sites/en-en/files/DAM/lamborghini/share%20img/huracan-coupe-facebook-og.jpg); background-size: cover;'}
  .color-overlay
  .header-wrapper-inner
    .container
      .intro
        %h1 To Begin, Begin
        %p Thats How My Life Rolls
        %a.btn.btn-default-o.onPageNav{href: "#services"} Our Services
    #clients.section.clients.overlay-1
      .container
        .section-content
          #client-carousel.owl-carousel
            .client-image.item
              %img.img-responsive.center-block{alt: "", src: image_path("clients/c_logo01.png")}/
            .client-image.item
              %img.img-responsive.center-block{alt: "", src: image_path("clients/c_logo02.png")}/
            .client-image.item
              %img.img-responsive.center-block{alt: "", src: image_path("clients/c_logo03.png")}/
            .client-image.item
              %img.img-responsive.center-block{alt: "", src: image_path("clients/c_logo04.png")}/
            .client-image.item
              %img.img-responsive.center-block{alt: "", src: image_path("clients/c_logo05.png")}/
            .client-image.item
              %img.img-responsive.center-block{alt: "", src: image_path("clients/c_logo01.png")}/
            .client-image.item
              %img.img-responsive.center-block{alt: "", src: image_path("clients/c_logo02.png")}/
            .client-image.item
              %img.img-responsive.center-block{alt: "", src: image_path("clients/c_logo03.png")}/
            .client-image.item
              %img.img-responsive.center-block{alt: "", src: image_path("clients/c_logo04.png")}/
            .client-image.item
              %img.img-responsive.center-block{alt: "", src: image_path("clients/c_logo05.png")}/
