%section#funfacts.section.dark-bg.funfacts
  .color-overlay
  .container
    %header.section-heading
      %h2 Do You Know
      %span Some cool facts about our company
    .section-content
      .row
        .col-sm-4
          .counter-box
            .counter-icon
              %span.ion-ios-clock-outline
            .count.number 7781
            .count-description Fact 1
        .col-sm-4
          .counter-box
            .counter-icon
              %span.ion-ios-clock-outline
            .count.number 3707
            .count-description Fact 2
        .col-sm-4
          .counter-box.last
            .counter-icon
              %span.ion-ios-clock-outline
            .count.number 123
            .count-description Fact 3
