%section#services.section.services
  .container
    /
    %header.section-heading
      %h2 Our Services
      %span We plan, design, build and market high quality websites
    /
    .section-content
      .row
        .col-sm-4
          .service
            .service-icon.text-center
              %span.ion-ios-albums-outline
            .about-service
              %h4.text-center Service
              %p.text-center Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat ex eget sollicitudin eget.
        .col-sm-4
          .service
            .service-icon.text-center
              %span.ion-ios-albums-outline
            .about-service
              %h4.text-center Service
              %p.text-center Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat ex eget sollicitudin eget.
        .col-sm-4
          .service
            .service-icon.text-center
              %span.ion-ios-albums-outline
            .about-service
              %h4.text-center Service
              %p.text-center Praesent dapibus eleifend aug eget sollicitudin velit malesuada Aliquam blandit diam feugiat ex eget sollicitudin eget.
