%section#pricing.section.pricing
  .container
    /
    %header.section-heading
      %h2 Our Pricing
      %span Amazing services at affordable price
    /
    .section-content
      .row
        .col-md-4
          .price-box
            %h3 Standard
            .price-info
              .price
                %sup> kr.
                100
              %ul
                %li Something
                %li Something
                %li Something
                %li Something
                %li.disabled Something
                %li.disabled Something
            %a.btn.btn-default{:href => "#"} Get Started
        .col-md-4
          .price-box.featured
            %h3 Premium
            .price-info
              .price
                %sup> kr.
                500
              %ul
                %li Something
                %li Something
                %li Something
                %li Something
                %li Something
                %li.disabled Something
            %a.btn.btn-default{:href => "#"} Get Started
        .col-md-4
          .price-box.last
            %h3 Ultimate
            .price-info
              .price
                %sup> kr.
                1000
              %ul
                %li Something
                %li Something
                %li Something
                %li Something
                %li Something
                %li Something
            %a.btn.btn-default{:href => "#"} Get Started
