%header#header.home-parallax.home-fade.dark-bg.header-inner{style: 'background-image: url(https://www.lamborghini.com/en-en/sites/en-en/files/DAM/lamborghini/share%20img/huracan-coupe-facebook-og.jpg); background-size: cover;'}
  .color-overlay
