%section#team.section.team
  .container
    %header.section-heading
      %h2 Meet the Team
      %span Meet the Carswip team
    .section-content
      .row
        .col-sm-4.col-sm-offset-2
          / team-member's-bio
          .team-bio
            %figure
              %img.img-responsive.center-block{alt: "", src: image_path('team/kim_jeppesen.png')}/
            .team-description
              .member-name Kim Jeppesen
              .designation CEO &amp; CoFounder
            / team-member's-social
            .team-social
              %ul.social-block
                %li
                  %a{:href => "#"}
                    %i.fa.fa-facebook
                %li
                  %a{:href => "#"}
                    %i.fa.fa-twitter
                %li
                  %a{:href => "#"}
                    %i.fa.fa-linkedin
                %li
                  %a{:href => "#"}
                    %i.fa.fa-google-plus
          / /team bio
        .col-sm-4.lborder
          / team-member's-bio
          .team-bio
            %figure
              %img.img-responsive.center-block{alt: "", src: image_path('team/christian_schmidt.png')}/
            .team-description
              .member-name Christian Schmidt
              .designation CPO &amp; CoFounder
            / team-member's-social
            .team-social
              %ul.social-block
                %li
                  %a{:href => "#"}
                    %i.fa.fa-facebook
                %li
                  %a{:href => "#"}
                    %i.fa.fa-twitter
                %li
                  %a{:href => "#"}
                    %i.fa.fa-linkedin
                %li
                  %a{:href => "#"}
                    %i.fa.fa-google-plus
