%section#why-choose-us.section.why-choose-us
  .container
    %header.section-heading
      %h2 Why Choose Us
      %span Chose us subtitle
    .section-content
      .row
        .col-sm-4.why-explain-wrap
          %h4 Creative
          .why-explain.top.top-1
            %p Sollicitudin velit malesuada Aliqua andit diam feugiat ex.For those who
        .col-sm-4.why-explain-wrap
          %h4 Professional
          .why-explain.top.top-2
            %p Velit sollicitudin malesuada Aliqua andit diam feugiat ex.For those who
        .col-sm-4.why-explain-wrap
          %h4 Experienced
          .why-explain.top.top-3
            %p Sollicitudin velit malesuada Aliqua andit diam feugiat ex.For those who
      %figure.why-us-image
        %img.img-responsive.center-block.hidden-xs{:alt => "", :src => "https://d13yacurqjgara.cloudfront.net/users/731604/screenshots/3255723/auto.gif"}/
      .row
        .col-sm-4.why-explain-wrap
          .why-explain.bottom.bottom-1
            %h4 Dedicated
          %p
            Sollicitudin velit malesuada Aliqua andit diam feugiat ex.For those who
        .col-sm-4.why-explain-wrap
          .why-explain.bottom.bottom-2
            %h4 24/7 Support
          %p
            Sollicitudin velit malesuada Aliqua andit diam feugiat ex.For those who
        .col-sm-4.why-explain-wrap.last
          .why-explain.bottom.bottom-3
            %h4 Enthusiastic
          %p.last
            Sollicitudin velit malesuada Aliqua andit diam feugiat ex.For those who
