%header#header.header-wrapper.home-parallax.home-fade.dark-bg.slider-classic
  .header-wrapper-inner.flexslider
    %ul.slides
      %li{ style: "background-image: url(#{image_path(@case['after_image'])})" }
        .color-overlay
        .intro-wrapper
          .intro
            %h1=@case['title']
            %p=@case['subtitle']
      %li{ style: "background-image: url(#{image_path(@case['after_image'])})" }
        .color-overlay
        .intro-wrapper
          .intro
            %h1=@case['title']
            %p=@case['subtitle']
      %li{ style: "background-image: url(#{image_path(@case['after_image'])})" }
        .color-overlay
        .intro-wrapper
          .intro
            %h1=@case['title']
            %p=@case['subtitle']

%section#single-portfolio.section.single-portfolio
  .container
    .row
      .col-md-10.col-md-offset-1
        %p.led
          Morem ipsum dolor sit amet, consectetur adipisicing elit. A commodi consequuntur culpa debitis dolorem ducimus explicabo facere laborum laudantium maxime mollitia natus necessitatibus quae quisquam reprehenderit. Morem ipsum dolor sit amet, consectetur adipisicing elit.
  .container
    .row
      .col-md-10.col-md-offset-1
        .flexslider
          %ul.slides
            %li
              %img{src: image_path(@case['after_image'])}/
            %li
              %img{src: image_path(@case['after_image'])}/
            %li
              %img{src: image_path(@case['after_image'])}/
    .row.portfolio-details-single
      .col-sm-4.col-md-3.col-md-offset-1
        %h3 Project Details
        %ul
          %li
            %strong Client:
            Some Company
          %li
            %strong Date:
            23 November, 2050
          %li
            %strong Online:
            %a{:href => "#"} www.somewebsite.com
      .col-sm-8.col-md-7
        %h3 Project Story
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid deserunt est expedita ipsum placeat? Asperiores dolores dolorum, eius fugiat hic mollitia neque nesciunt nobis, odio odit officiis, omnis rem voluptas.  Asperiores dolores dolorum, eius fugiat hic mollitia neque nesciunt nobis, odio odit officiis, omnis rem voluptas.  Asperiores dolores dolorum, eius fugiat hic mollitia neque nesciunt nobis.
