.header-inner {
  padding-top: 200px;
  background-color: black;
  background-image: asset-url('main-bg.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;

  .breadcrumb {
    background-color: transparent;
    color: rgba(254, 254, 255, 0.7);
    a {
      color: inherit;
    }
    i{
      margin: 0 10px;
    }
  }
}
