= render 'partials/small_header'
%section#about-us.section.about-us
  .container
    %header.section-heading
      %h2 About Us
      %span Everything you need to know about our Company
    .section-content
      .row
        .col-sm-4
          .about-content.left
            %h4 We're Creative
            %p Lorem adipipsum idolor sit iamet, iconsectetur aisicing elit. Necessitatibus illo vel dolorum soluta consectetur doloribus sit. Delectus non tenetur odit dicta vitae debitis suscipitaut voluptas quaerat consectetur.
        .col-sm-4
          %figure.about-content.center
            %img.img-responsive.center-block{alt: "", src: "http://www.medicalnewstoday.com/content/images/articles/297/297449/a-cup-of-coffee.jpg"}/
        .col-sm-4
          .about-content.right
            %h4 We're Friendly
            %p Lorem adipipsum dolor sit amet, consecteturno aisicing elit. Necessitatibus illo vel dolorumsa soluta consectetur doloribus sit. Delectus tenetur odit dicta vitae debitis  susc ipitaut voluptas quaerat dolorum.
