%section#footer-widgets.section.footer-widgets.dark-bg
  .container
    .row
      .col-md-6.col-sm-6
        .content-wrap.widget-text
          %h4 About Carswip
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores dolorum eius libero nihil. Fugiat ipsum officia reprehenderit rerum saepe. Assumenda distinctio, voluptatibus. At consectetur cumque enim error laudantium mollitia obcaecati!
      .col-md-3.col-sm-6
        .content-wrap.widget-contact
          %h4 Contact info
          %ul
            %li
              %i.ion-home
              Aarhus
            %li
              %i.ion-android-call
              some phone
            %li
              %i.ion-email
              info@carswip.dk
            %li
              %i.ion-ios-location
              Map and Direction
      .col-md-3.col-sm-6
        .content-wrap.widget-recent-posts
          %h4 Recent Posts
          %ul
            %li
              %a.post-title{:href => "#"} Lorem ipsum dolor sit amet
              by
              %a.author{:href => "#"} Jhon Smith
            %li
              %a.post-title{:href => "#"} Lorem ipsum dolor sit amet
              by
              %a.author{:href => "#"} Jhon Smith
            %li
              %a.post-title{:href => "#"} Lorem ipsum dolor sit amet
              by
              %a.author{:href => "#"} Jhon Smith
%footer#footer.footer
  .container
    .row
      .col-md-3.col-sm-4
        %p.copyright.text-xs-center © 2017 Carswip
      .col-md-5.col-sm-4
        %ul.footer-social-block
          %li
            %a{:href => "#"}
              %i.fa.fa-facebook
          %li
            %a{:href => "#"}
              %i.fa.fa-twitter
          %li
            %a{:href => "#"}
              %i.fa.fa-pinterest-p
          %li
            %a{:href => "#"}
              %i.fa.fa-behance
          %li
            %a{:href => "#"}
              %i.fa.fa-google-plus
          %li
            %a{:href => "#"}
              %i.fa.fa-linkedin
%a#totop{:href => "#totop"}
  %i.fa.fa-angle-up
